.fakenews-app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.fake-news-list {
	position: relative;
	max-width: 100%;
	padding: 10px;
}

.no-result {
	margin-left: 45%;
	font-weight: 600;
	margin-top: 5px;
}