body {
  padding: 20px;
}

.cover {
	background-image: url('../../assets/cover.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	height: 300px;
}

.active {
  border-bottom: 3px solid red;
  background: #fcfcf;
}

.tab {
  position: relative;
}

  .tab-btn {
    padding: 6px 10px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 2px solid #cccccc;
    outline: none;
  }