.search-news {
	.search-input {
		width: 100%;
		display: inline-block;
		height: 2rem;
	}

	.search-icon {
		display: inline-block;
		background-image: url('../../assets/search.png');
		background-size: 100%;
		position: absolute;
		height: 1.75rem;
		width: 1.75rem;
		right: 1px;
		top: 1px;
		background-color: transparent;
		border: none;
		
		&:hover {
			cursor: pointer;
		}	
	}
}