.search-news {
	.search-input {
		width: 95%;
		display: inline-block;
		height: 2rem;
		margin: 0 auto;
	}

	.search-icon {
		display: inline-block;
		background-image: url('../../assets/search.png');
		background-size: 100%;
		position: relative;
		height: 1.75rem;
		width: 1.75rem;
		background-color: transparent;
		border: none;
		float: right;
		
		&:hover {
			cursor: pointer;
		}	
	}
}